<a href="https://colab.research.google.com/github/MuhammadHammad02/Pandas/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# Series A series of Data (1 dimensional)
# Dataframe Tabular data (2 dimensional)

In [5]:
marks = pd.Series([80,70,90])

In [6]:
marks

0    80
1    70
2    90
dtype: int64

In [7]:
marks[1]

70

In [8]:
marks[0]

80

In [9]:
#specifying index

In [10]:
marks = pd.Series([80,70,60], index=['Ahmed','Umair','Hamza'])

In [11]:
marks

Ahmed    80
Umair    70
Hamza    60
dtype: int64

In [12]:
marks['Ahmed']

80

In [14]:
age =pd.Series ([25,15,10], index=['Ali',"Sana","Sara"], dtype="float")

In [15]:
age

Ali     25.0
Sana    15.0
Sara    10.0
dtype: float64

In [16]:
age = pd.Series({"Ali":20,"Sana":25,"Sara":None})

In [17]:
age

Ali     20.0
Sana    25.0
Sara     NaN
dtype: float64

In [18]:
pd.isnull(age)

Ali     False
Sana    False
Sara     True
dtype: bool

In [19]:
age.mean()

22.5

In [20]:
age1 = pd.Series([100,50], index=["Ali","Asghar"])

In [21]:
age1

Ali       100
Asghar     50
dtype: int64

In [22]:
age + age1

Ali       120.0
Asghar      NaN
Sana        NaN
Sara        NaN
dtype: float64